@page
@model MyApiMonitor.Pages.DocumentationModel
@{
}
<h2>Documentation</h2>
<p>
    Swagger(Open Api) has been used to produced the documentation for this API.
    The example ids given within the comments for each call should return results for GET Calls if you wish to try them out.
    Post, Put and Patch calls will all return Not Authorized.
    Please note that the API is version controlled and the latest version is V2.
</p>
<a href="https://thewhaddonshowdev.azurewebsites.net/index.html"><img src="/images/TheWhaddonShowApiDocumentationImage.png"></a>