@page
@model MyApiMonitorService.Pages.Tests.ResultsModel
@{
}


<h1>ApiTestResults</h1>

<h2>@Model.TestResults.First().CollectionTitle</h2>
<h3>@Model.TestResults.First().TestDateTime</h3>
<table>
    <thead>
        <tr>
            <th>Test Title</th>
            <th>Result</th>
            <th>Failure Message</th>
            <th>Expected Result</th>
            <th>Actual Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model.TestResults)
        {

            <tr>
                <td>test.Title</td>
                <td>test.Result</td>
                <td>(test.WasSuccessful) ? "Success" : test.FailureMessage</td>
                <td>test.ExpectedResult</td>
                <td>test.ActualResult</td>
            </tr>
        }
    </tbody>
</table>